.select-apage-container {
    padding: 50px 50px; 
    .first-section {
        display: flex;  justify-content: space-between;
        .image-container {
           width: 40vw; height: 60vh;
            img {width: 100%;height: 100%;border-radius: 10px;}
        }
        .text-container {
            width: 45vw;
            li {
                padding: 10px; text-transform: capitalize;
                &:nth-child(2){
                    background-color: green; padding: 5px 20px; color: white; font-weight: bold;
                    width: fit-content; margin-left: 10px; font-size: .8em; border-radius: 5px;
                }


                &:nth-child(3){
                    padding:10px; margin-top: 10px;
                }


                &:nth-child(5){
    
                    .delevery{
                        h3 {margin-bottom: 10px;  font-size: 1em;
                        }
                        .freedelevery{
                            border-radius: 10px ; border: 1px solid black; padding: 5px 15px;
                            width: fit-content; font-size: .9em; margin-bottom: 10px;font-weight: bold;
                            margin-bottom: 25px;
                        }
                        .container {
                            display: flex; justify-content: space-around;
                            span {
                                font-size: 1.5em; margin-right: 10px;
                            }
                            p {
                              font-weight: bold; color: rgb(37, 37, 37);font-size: .8em;
                            }
                        }
                    }
                }


                &:nth-child(4){
                    display: flex; margin: 10px 0px;
                    .specific-item {
                        display: flex; background-color: black; color: white; font-weight: bold;
                        padding: 8px 50px; cursor: pointer;margin-right: 20px; border-radius: 5px;
                        span {
                            margin-right: 5px;
                        }
                    }
                }
                &:nth-child(6){
                    display: flex; font-weight: bold; font-size: .9em;  color:  rgb(37, 37, 37); 
                    span {
                        margin-right: 10px; font-size: 1.5em;
                    }
                }






            }
        }
        
    }
    
}



@media screen and (max-width:900px) {
    .select-apage-container{
        .first-section{
            display: block;
            .image-container {
                width: 88vw;
            }
            .text-container{
                width: 88vw;
            }

        }
    }
}