*{
    margin: 0; padding: 0 ; list-style: none; box-sizing: border-box; text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(44, 44, 44);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgb(44, 44, 44); 
}
