.Header-information-section {
    margin-top: 100px; margin-bottom: 80px;position: relative;
    width: 90vw; display: flex; align-items: center; justify-content: center;
    text-transform: uppercase;
    &::after{
        content: "";
        width: 40vw; height: 2px; background-color: black; position: absolute; top: 50px;
        z-index: -1;
    }
    &::before{
        content: "";
        width: 40vw; height: 2px; background-color: black; position: absolute; top: -25px;
        z-index: -1;
    }


}

@media screen and (max-width:900px) {
    .Header-information-section {
        font-size: 1.2em;
    }
}


@media screen and (max-width:500px) {
    .Header-information-section {
        font-size: 1em;
        margin-left: -40px;
        &::after{
            content: "";
            top: 30px;
        }
        &::before{
            content: "";
            top: -15px;
        }

    }
}
@media screen and (max-width:400px) {
    .Header-information-section {
        font-size: 0.8em;
    
    }
}
