@use "../../../main-style/style.scss";
%flex{display: flex; align-items: center; justify-content: space-between;}

.header-container {
    @extend %flex; text-transform: uppercase;  padding: 10px 100px ; position: sticky; left: 0; top: 37px;
    background-color: white;z-index: 100000000000; box-shadow: 1px 1px 1px 1px black;
    .Nav-bar {
        font-size: 1.4em; cursor: pointer; display: none;
    } 
    .select-item {
        display: flex; align-items: center;
        li {
            padding: 10px; font-weight: 600; font-size: .8em; cursor: pointer;
            border-bottom: 2px solid white; transition: all .5s; position: relative;
            &:hover{
                border-bottom: 2px solid black;

            }
            &:first-child{
                font-weight: bold; font-size: 1.4em; letter-spacing: .3em;
                 border-bottom: none;
            }
        }
        li.active {
            border-bottom: 2px solid black;
        }
    }
    h2 {
        font-weight: bold; font-size: 1.4em; letter-spacing: .3em; display: none;
    }



    .icon-section {
        display: flex;
        li{
            font-size: 1.6em; padding: 5px ; cursor: pointer;  position: relative;
            .notification{
                position: absolute; left: 20px ; top: -5px; font-weight: 600;width: 20px; height: 20px;
                font-size: .6em; background-color: black; color: white; border-radius: 10px;
                padding: 2px; display: flex; align-items: center; justify-content: center;
            }
            .Search-Section {
                position: absolute; top: 50px; left: -180px; height: 35px; padding: 10px; border: 1px  solid none;
                border-bottom: 2px solid black; border-radius: 5px; width: 320px; display: none;
            }
            .Search-Section.active {
                display: inline-block;  
              }

        

        }
    }


}

.promotion {
    background-color: black; color: white; font-weight: bold; position: sticky; left: 0; top: 0;
    z-index: 100000000000;
    p{
        text-align: center;width: 100vw; display: flex; align-items: center; justify-content: center; 
        color: white; padding: 10px; font-size: .9em; text-transform: capitalize;

    }
}


@media screen and (max-width:1100px) {
    .header-container {
        padding: 10px 10px;
    }

}

@media screen and (max-width:900px) {
    .header-container {
        position: sticky; top: 37px; left: 0;
        .Nav-bar  {
            display: block;
        }
        .icon-section  {
            li {
                font-size: 1.4em; 
            }
        }
        .select-item {
            display: block; position: absolute; left: 0px; top: 60px; background-color: black;
            color: white; width: 100vw; text-align: center; transform: translate(-100vw);opacity: 0;
        }
        .select-item.active {
            transform: translate(0px); opacity: 1; transition: all .5s;
            z-index: 10000;
        }
        h2 {
            display: block; margin-left: 100px;
        }
    }
}




.reguster-holder {
    img {
        width: 50px; height: 50px;
    }
}