.catagory-section{
    padding: 50px; display: flex;  justify-content: space-between; position: relative;
    gap: 30px;
    .container-item{
        width: 70vw;
        display: grid; grid-template-columns: repeat(auto-fill,minmax(200px,1fr)) ;
        gap: 20px;
    }
}

.container-catagory{
    .showitem-section{
        position: fixed;left: 0px ;top: 107px; background-color: white; background-color: white; width: 100vw;
        height: 70px;cursor: pointer;
        z-index: 1000; display: none;
        span {
            display: block; width: 150px; margin-top: 15px; margin-left: 50px;
            padding: 8px 20px ;border: 2px solid black; font-weight: bold; text-transform: capitalize;
        }
    }
}

@media screen and (max-width:900px) {
    .catagory-section{
        margin-top: 20px;
        .container-item{
            width: 100%;
        }
    }
    .container-catagory{
        .showitem-section{
            display: block;
        }
    }    
}