.swiper-container{
    width: 100vw; height: 100vh;
}

.swiper-pagination-bullet {
    background-color: #000 !important;
    width: 10px !important;
    height: 10px !important;
    margin-left: 20px !important;
}

.sliderItem {
    display: flex; align-items: center; 
    img {
        width: 50vw;  height: 70vh; overflow: hidden; min-width: 400px;
    }
    .text-area{
        width: 50vw;  height: 70vh; overflow: hidden;
         text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;
         padding: 30px 70px;
         h3 {
            font-size: 2.5em; text-transform: capitalize; font-weight: 300; padding: 10px 0px;
         }
         p {
            padding: 10px 0px;
         }
         button {
            padding: 10px 45px ; background-color: black; color: white; font-weight: bold;
            margin-top: 10px; margin-bottom: 10px; border-radius: 5px;

         }
    }
}
body {
    overflow-x: hidden;
}

@media screen and (max-width:900px) {
    .sliderItem{
        display: block;
        img {
            width: 100vw; height: 60vh;
        }
        .text-area {
            width: 100vw; height: 40vh;
        }
    }   
}
@media screen and (max-width:500px) {
    .sliderItem{
        .text-area {
            font-size: .9em;
        }
    }   
}

