.arabic-inner{
    padding: 50px; display: flex; align-items: center; justify-content: space-between;
    background-color: black; color: white;  margin: 100px 0px 0px 0px;
    .image-container {
        width: 40vw; height: 80vh;
        img {
            height: 100%; width: 100%; border-radius: 10px;
        }
    }
    .text-area {
        width: 50vw; height: 60vh; text-align: center;  display: flex; flex-direction: column; align-items: center; justify-content: center;
        h2 {
            padding: 15px;
        }
        p {
            font-weight: bold; font-size: .9em; line-height: 4vh;
        }
        h3 {
            color: orangered; padding: 15px; font-size: 1.7em; margin-top: 15px;
            overflow-x: hidden;
        }
        button {
            padding: 10px 50px ;  font-weight: bold; text-transform: uppercase; cursor: pointer;
            margin-top: 15px; background-color: orangered; color: black; border-radius: 5px;
        }

    }
}

@media screen and (max-width:900px) {
    .arabic-inner{
        display: block;
        .image-container {
            width: 85vw;
        }
        .text-area{
            margin-top: 50px; width: 85vw;
            h3{
                font-size: 1.2em;
            }
        }
    } 
}

@media screen and (max-width:500px) {
    .arabic-inner{
        padding: 50px 15px;
        .image-container{
            width: 90vw; height: 50vh;
        }
        .text-area{
            font-size: .8em;
            h3 {
                font-size: .9em;
            }
        }
    }

}


