@use "../../main-style/style.scss";
.signin-container{
    width: 100vw; background-color: rgba(0, 0, 0, 0.705);
    position: fixed; left: 0; top: 16.8vh; z-index: 100000;
    height: 84vh;
    .signin-container-section {
        width: 40vw;  background-color: white;margin-top: 20px;
        padding: 60px  30px;
        margin-left: auto ; margin-right: auto;
        border-radius: 10px; box-shadow: 1px  1px 1px  1px  black;
        .signup-header {
            padding: 20px; display: flex; align-items: center; justify-content: center;
            font-size: 1.5em;
        }
        
    }

    .submit-botton {
        margin-left: auto; margin-right: auto; padding: 10px 50px; border-radius: 10px; border: none;
        display: block; cursor: pointer; margin-top: 20px; background-color: black;
        text-transform: capitalize; font-weight: bold; color: white;
    }


    .container-input {

        width: 100%; margin-top: 15px; margin-bottom: 15px; position: relative;
        input {
            width: 70%;margin-left: auto; margin-right: auto;
            height: 40px; display: block; padding: 10px; text-transform: capitalize;
            padding-left: 50px; border: none; border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.705);
            font-weight: bold; 

        }
        .error-section{
            width: 70%;  margin-left: auto; margin-right: auto;
        }
        span {
            position: absolute; left: 90px; top: 8px; font-size: 1.5em;
        }

    }



    .container-header-sign{
        position: relative;
        .icon-close {
            position: absolute; right: 20px; top: 20px; font-size: 1.8em; cursor: pointer;
            z-index: 1000000000000000000000000000;
        } 
        margin-bottom: 20px;
    }



    .special-text{
         margin-left: auto; margin-right: auto; display: flex; justify-content: center;
        span {
           cursor: pointer; font-weight: bold; text-transform: capitalize;
        }
    }
}



@media screen and (max-width:1100px) {
    .signin-container{
        position: fixed; left: 0; top: 14vh;
        .signin-container-section{
            width: 80vw;
        }
        .container-input  {
        span {
            left: 130px;
        }
        }
    
    }
}
@media screen and (max-width:800px) {
    .signin-container{
        .container-input  {
        span {
            left: 90px;
        }
        }
    
    }
    .signin-container{
        position: fixed; left: 0; top: 14vh;
    }
}
@media screen and (max-width:550px) {

    .signin-container{
        .signin-container-section{
            width: 100vw;
        }
        .container-input  {
        span {
            left: 70px;
        }
        }
    
    }
}